@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

#logInPage {
    height: 100vh;
    width: 100vw;
}

a {
    color: white;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: sticky;
    z-index: 100;
    top: 0;

    background-color: black;
    border-bottom: 1px solid white;
    padding: 1rem;
    font-size: 1rem;
}

nav .brand {
    font-size: 1.5rem;
    font-weight: bold;
}

nav .nav-items a {
    margin: 0 1rem;
}


#form {
    width: 80%;
    padding: 50px 0;
    margin: 0 auto;
}

input {
    width: 100%;
    height: 50px;
    margin: 20px 0;
    padding-left: 30px;
    font-size: 1.2rem;
    border: 1.5px solid black;
}


h2{
    font-size: 4rem;
    margin: 20px 0;
}

label{
    font-size: 1.5rem;
}

#login{
    margin-top: 50px;
    width: 200px;
    height: 50px;
    padding: 15px 40px;
    font-size: 1.2rem;
    background-color: black;
    color: white;
}